header{
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: lightblue;
  text-align: center;
}

h1 {
  text-align: center;
}

#form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#form label {
  width: 80px;
}

#form input {
  margin: 5px;
  padding: 5px;
  text-align: center;
}

#form button {
  margin: 5px;
  padding: 5px 20px;
  background-color: #008CBA;
  color: #FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#table {
  border-collapse: collapse;
  margin: 20px;
}

#table th, #table td {
  padding: 10px;
  border: 1px solid #CCC;
}

#table th {
  background-color: #F2F2F2;
}

#table img {
  max-width: 100px;
  max-height: 100px;
  text-align: center;
}

#save, #load, #delete {
  display: block;
  margin: 20px auto;
  padding: 5px 20px;
  background-color: #008CBA;
  color: #FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

img{
  max-width: 1000px;
  max-height: 1000px;
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
